@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

:root {
    --background-primary: #01001E;
    background-color: var(--background-primary);
}

@tailwind base;
hr {
    @apply border-t-border-primary border-opacity-40 w-auto
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}
@tailwind components;
@tailwind utilities;


.btn-primary {
    @apply bg-primary text-white transition duration-200 text-sm font-montserrat font-bold border-2 border-primary;
}
.btn-primary:hover {
    @apply bg-opacity-80;
}

.btn-invert-primary {
    @apply bg-transparent box-border text-primary transition duration-200 text-sm font-montserrat font-bold border-2 border-primary;
}
.btn-invert-primary:hover {
    @apply bg-primary bg-opacity-10 text-white;
}

.hidden-content::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full from-transparent from-60% to-yawn-primary bg-gradient-to-b z-10 pointer-events-none
}


.hamburger {
    @apply relative w-[50px] h-[50px] border rounded-md border-pit-primary border-opacity-50
}

.hamburger > .h-item {
    @apply bg-white absolute w-[30px] h-[4px] left-1/2 -translate-x-1/2 top-1/2 duration-200
}


@screen sm {
    .base-container { @apply mx-16 }
}
@screen md {
    .base-container { @apply w-sm mx-auto }
}
@screen lg {
    .base-container { @apply w-md }
}
@screen xl {
    .base-container { @apply w-lg }
}
@screen 2xl {
    .base-container { @apply w-xl }
}

@keyframes towew {
    0% {
        transform: scale(0.9, 1) translateY(-4px);
    }
    50% {
        transform: scale(1, .8) translateY(4px);
    }
    100% {
        transform: scale(0.9, 1) translateY(-4px);
    }
}

@media (max-width: 767px) {
    .base-container {
        @apply mx-6;
    }
}