@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

:root {
    --background-primary: #01001E;
    background-color: var(--background-primary);
}

@tailwind base;
hr {
    @apply border-t-border-primary border-opacity-40 w-auto
}
@tailwind components;
@tailwind utilities;


.btn-primary {
    @apply bg-primary text-white transition duration-200 text-sm font-montserrat font-bold border-2 border-primary;
}
.btn-primary:hover {
    @apply bg-opacity-80;
}

.btn-invert-primary {
    @apply bg-transparent box-border text-primary transition duration-200 text-sm font-montserrat font-bold border-2 border-primary;
}
.btn-invert-primary:hover {
    @apply bg-primary bg-opacity-10 text-white;
}

@screen md {
    .base-container { @apply w-sm }
}
@screen lg {
    .base-container { @apply w-md }
}
@screen xl {
    .base-container { @apply w-lg }
}
@screen 2xl {
    .base-container { @apply w-xl }
}

@keyframes towew {
    0% {
        transform: scale(0.9, 1) translateY(-4px);
    }
    50% {
        transform: scale(1, .8) translateY(4px);
    }
    100% {
        transform: scale(0.9, 1) translateY(-4px);
    }
}

.base-container {
    @apply mx-auto;
}